pkgbase = omarchy-plymouth-nier
	pkgdesc = NieR-inspired theme for the Omarchy boot chain: Limine menu, LUKS unlock and shutdown screens
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/Willi005/omarchy-plymouth-nier
	install = omarchy-plymouth-nier.install
	arch = any
	license = MIT
	makedepends = python
	makedepends = imagemagick
	makedepends = fontconfig
	makedepends = noto-fonts-cjk
	makedepends = ttf-jetbrains-mono-nerd
	depends = plymouth
	optdepends = imagemagick: required by omarchy-nier-reconfigure
	optdepends = fontconfig: required by omarchy-nier-reconfigure
	optdepends = noto-fonts-cjk: the katakana and the background word
	optdepends = ttf-jetbrains-mono-nerd: every line of Latin text in the theme
	backup = etc/omarchy-plymouth-nier.conf
	source = omarchy-plymouth-nier-1.4.0.tar.gz::https://github.com/Willi005/omarchy-plymouth-nier/archive/refs/tags/v1.4.0.tar.gz
	sha256sums = 2ed2d22ae3cc977d84b339822a1e3cd3d444929a27ed727905958b6f16d526c1

pkgname = omarchy-plymouth-nier
